{% extends "base.html" %}

{% block content %}
<h6>Случайный вопрос, который, вы, возможно, захотите использовать   :)
    {{ question[0][0] }}</h6>
  <h6>  И ответ на него: {{ question[0][1] }}</h6>
<a href="/find" class="btn btn-warning">
    Перейти на страницу поиска вопросов
</a>
<div class="container-md">
    <h1>Добавление поста</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", type="string") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control", type="string") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="/upload" class="btn btn-outline-primary">
        Just load a txt file!
    </a></p>

        <div>{{ message }}</div>
    </form>
    </div>
{% endblock %}