{% extends "base.html" %}

{% block content %}
<h6> A random question that you might want to use :)
    {{ question[0][0] }}</h6>
  <h6>  And the answer to it: {{ question[0][1] }}</h6>
<a href="/find" class="btn btn-warning">
    Go to the questions search page
</a>
<div class="container-md">
    <h1>Adding a post</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", type="string") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control", type="string") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="/upload" class="btn btn-outline-primary">
        Just load a txt file!
    </a></p>

        <div>{{ message }}</div>
    </form>
    </div>
{% endblock %}