<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
    {% if current_user.is_authenticated %}
    <div align="center"><a href="/logout">{{ current_user.name }}</a></div>
    {% else %}
    <div align="center"> <a href="/register">    Регистрация    </a>
        <a href="/login"> Войти </a></div>
    {% endif %}
    {% block content %}{% endblock %}
    </body>
</html>