{% extends "base.html" %}

{% block content %}
<h4>You can use question from here in your own quiz</h4>
<div>
    {% for post in posts %}
    <details>
        <summary><u>Questions with value {{post[-1]}}</u></summary>
        <p>{% for question in post [:-1] %}
        <p>{{ question[0] }} - <em>{{question[1]}}</em></p>
        {% endfor %}
        </p>
    </details>
    {% endfor %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", type="string") }}<br>
            {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control", type="string") }}<br>
            {% for error in form.content.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }} <a href="/create_quiz" class="btn btn-outline-primary">
            Update suggested questions
        </a></p>
        <div>{{ message }}</div>
    </form>

</div>
    {% endblock %}