{% extends "base.html" %}

{% block content %}
<h4>You can use question from here in your own quiz</h4>
<div>
    {% for post in posts %}
    <details><summary><u>Questions with value {{post[-1]}}</u></summary>
    <p>{% for question in post [:-1] %}
        <p>{{ question[0] }}  -   <em>{{question[1]}}</em></p>
        {% endfor %}
    </p>
</details>
    {% endfor %}
</div>
<h1></h1>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Here you can leave your notes</label>
</div>
<a href="/create_quiz" class="btn btn-outline-primary">
    Update suggested questions
</a>

{% endblock %}