{% extends "base.html" %}
{% block content %}
<div align="right">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
    <p>
    <tr><td>
        {{ form.find_id.label }}<br>
        {{ form.find_id(class="form-control", type="string") }}<br>
        {% for error in form.find_id.errors %}
    <div class="btn btn-outline-primary">
        {{ error }}
    </div>
    {% endfor %}
    </p>
        </td><td>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </td></tr>
    </table>
    <div>{{ message }}</div>
</form>
</div>
<table align="right">
  <tr>
    <td>
</td>
      <td><td align="right"><h2>Leaderboard</h2>
      {%if current_user.is_authenticated %}
      <a href="/daily" class="btn btn-outline-primary">Participate</a>
      {% endif %}
    {% for leader in leaders %}
    <h5><a href="/user/{{leader[-1]}}" class="btn btn-outline-primary">{{leader[0]}} {{ leader[1] }}</a></h5>
    <img src='static/avatar/{{leader[-1]}}.jpg' alt="No photo" width="87" height="100"/>
    <h5>{{ leader[2] }}</h5>
          {% endfor %}</div></td>

  </tr>

</table>


{% for elem in posts %}
<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    <h5><a href="/user/{{elem[-1]}}" class="btn btn-outline-primary">{{elem[1]}}: {{ elem[0] }}</a></h5>
    <pre>{{elem[2]}}</pre>
</div>
<h4></h4>
{% endfor %}
</div>
{% endblock %}